#LLMS
OPENAI_API_KEY=
OPENAI_MODEL=
CHATAI_API_URL=
CHATAI_API_KEY=
CHATAI_MODEL=
LLAMA3_USERNAME=
LLAMA3_PASSWORD=
LLAMA3_URL=
#ollama_local_server_url=
##########################
#SPARQL ENDPOINT
SPARQL_ENDPOINT=